%h1
  %center IMDB Ruby

%hr
%table.table.table-striped
  %thead
    %tr
      %th Movie Album Art
      %th Movie Title
      %th Released
      %th Movie's Tagline
      %th Problem?
  %tbody.preview-table
    = render @movies

#movie-window-template
  .movie-info
    %h2 {title}
    %h6
      %center
        %i {tagline}
    %img{:src => '{poster_url}'}

= paginate @movies
